networks:
  app-network:
    driver: bridge

volumes:
  redis-data:

services:
  redis:
    image: redis:alpine
    platform: linux/arm64
    ports:
      - "6379:6379"
    networks:
      - app-network
    volumes:
      - redis-data:/data
  api:
    build:
      context: ./api
    platform: linux/arm64
    ports:
      - "8080:8080"
    environment:
      - REDIS_HOST=redis:6379
    depends_on:
      - redis
    networks:
      - app-network
  app:
    build:
      context: ./app
    platform: linux/arm64
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8080
    depends_on:
      - api
    networks:
      - app-network
